@import "/src/styles/colors.scss";
@import "/src/styles/mixin.scss";

.Tips {
  @include col;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  text-align: start;
  &Head {
    color: #000;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bolder;
  }
  &Card {
    background: #f4f4f4;
    padding: 20px;
    max-width: 100% !important;
    @include col;
    border-radius: 20px;
    &Top {
      margin: 5px 0 5px 0;
      font-size: 18px;
      color: #000;
    }
    &Bottom {
      height: 100% !important;
      width: 100% !important;
      font-size: 15px;
      color: gray;
    }
  }
}
