@import "/src/styles/mixin.scss";
@import "/src/styles/colors.scss";

.Footer {
  @include row;
  @include center;
  width: 100%;
  color: $white;
  background: $blue;
  padding: 2% 0%;
  font-size: 14px;
}
