@import "/src/styles/mixin.scss";

.Dashboard {
  @include col;
  @include center;
  width: 100%;
  gap: 1%;
  &Row {
    width: 100%;
    @include row;
    @include center;
  }
  &Top {
    @include col;
    @include center;
    width: 98%;
    margin: 1% 0%;
  }
  &Bottom {
    width: 94%;
    margin: 1% 0%;
    @include row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    &Cont {
      min-height: 100%;
      width: 30%;
      @media (max-width: 1000px) {
        width: 45%;
      }
      @media (max-width: 700px) {
        @include center;
        margin-top: 5%;
        width: 85%;
      }
    }
    @media (max-width: 700px) {
      @include center;
    }
  }
}
